[submodule "deps/raylib"]
	path = deps/raylib
	url = https://github.com/WyvernAllow/raylib.git
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
